/* styles.css */
body {
    background-color: #f8f9fa; /* Bootstrap default background color */
}

.home-banner {
    background-image: url('../img/tue.jpg');
    background-size: cover;
    height: 600px;
}

.mon-banner {
    background-image: url('../img/mon.jpg');
    background-size: cover;
    height: 600px;
}

.tue-banner {
    background-image: url('../img/tue.jpg');
    background-size: cover;
    height: 600px;
}

.wed-banner {
    background-image: url('../img/wed.jpg');
    background-size: cover;
    height: 600px;
}

.thu-banner {
    background-image: url('../img/thu.jpg');
    background-size: cover;
    height: 600px;
}

.fri-banner {
    background-image: url('../img/fri.jpg');
    background-size: cover;
    height: 600px;
}

.sat-banner {
    background-image: url('../img/sat.jpg');
    background-size: cover;
    height: 600px;
}

.sun-banner {
    background-image: url('../img/sun.jpg');
    background-size: cover;
    height: 600px;
}